<div class="statements flexed">

    <div class="main-items">

        <div class="invoices">
            <div class="card">
                <h2 class="title smaller">All Invoices</h2>
                <div class="card-items">
                    <div class="inv-items">
                        <table class="app-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Generated At</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Due Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(order => { %>
                                    <tr>
                                        <td><%= order.id %> </td>
                                        <td><%= new Date(order.createdAt).toLocaleDateString() %> </td>
                                        <td>School Examinations software</td>
                                        <td>Ksh. <%= order.amount.toLocaleString() %> </td>
                                        <td class="status <%= order.status == 'pending' ? 'text-oaccent' : 'text-gaccent' %> ">
                                            <span class="state <%= order.status == 'complete' ? 'state-active' : 'state-pending' %> "> </span>
                                            <%= order.status %> 
                                        </td>
                                        <td>
                                            10-6-2020
                                        </td>
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="sub-items flexed">
            <div class="tickets">
                <div class="card">
                    <h2 class="title smaller">Support Tickets</h2>
                    <div class="ticket-items">
                        <% if (tickets.length > 0) { %>
                            <% tickets.forEach(ticket => { %>
                                <div class="item flexed">
                                    <div class="state state-active">
                                        <span> </span>
                                    </div>
                                    <div class="description">
                                        <div class="name">#2345 Unable to load student records</div>
                                        <div class="category">
                                            iAcademy - school software
                                        </div>
                                        <div class="details flexed flexed-align-center flexed-between">
                                            <div class="date flexed">
                                                <span>Date:</span>
                                                <span>10/05/2020</span>
                                            </div>
                                            <div class="priority text-raccent flexed  flexed-align-center">
                                                <span>Priority:</span>
                                                <span>High</span>
                                            </div>
                                            <div class="ticket-status flexed">
                                                <span>Status:</span>
                                                <span class="text-gaccent">
                                                    OPEN
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                            <% } else { %>
                                <div class="no-items">
                                    <div class="container">
                                        <img src="/assets/notfound2.png" alt="">
                                        <h4>
                                            You dont have any open support tickets
                                        </h4>
                                    </div>
                                </div>
                        <% } %> 
                    </div>
                </div>
            </div>
        
            <div class="receipts">
                <div class="card">
                    <h2 class="title smaller">Receipts</h2>
                    <div class="receipt-items">
                        <% if (receipts.length > 0) { %>
                            <% receipts.forEach(receipt => { %>
                                <div class="item flexed">
                                    <div class="description" style="margin-left: 0;">
                                        <div class="name">#RC1232</div>
                                        <div class="details flexed flexed-align-center flexed-between">
                                            <div class="flexed flexed-column">
                                                <span class="b">Date:</span>
                                                <span>10/05/2020</span>
                                            </div>
                                            <div class="flexed  flexed-column">
                                                <span class="b">Time</span>
                                                <span>10:59 a.m</span>
                                            </div>
                                            <div class="flexed flexed-column">
                                                <span class="b">Amount</span>
                                                <span class="">
                                                    Ksh. 1500
                                                </span>
                                            </div>
                                            <div class="flexed flexed-column">
                                                <span class="lg b">3</span>
                                                <span class="text-oaccent" style="margin-top: 0;">items</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                         <% } else { %>
                          <div class="no-items">
                              <div class="container">
                                  <img src="/assets/notfound2.png" alt="">
                                  <h4>No receipts here</h4>
                              </div>
                          </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    
   </div>

   <div class="transaction-statements">
        <div class="card">
            <h2 class="title smaller">Statements</h2>
            <div class="statement-items">
                <div class="ticket-items">
                    <% if (statements.length > 0) { %>
                        <div class="item flexed">
                            <div class="state state-active">
                                <span> </span>
                            </div>
                            <div class="description">
                                <div class="name">Invoice Unable to load student records</div>
                                <div class="category">
                                    iAcademy - school software
                                </div>
                                <div class="details flexed flexed-align-center flexed-between">
                                    <div class="date flexed">
                                        <span>Date:</span>
                                        <span>10/05/2020</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="no-items">
                            <div class="container">
                                <img src="/assets/notfound2.png" alt="">
                                <h4>Cant find any statements at the moment</h4>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
   </div>


</div>