<div class="banner-top container">
    <div class="banners">
        <div class="banner-item red-accent">
            <h2 class="title">Products</h2>
            <h2 class="sub-title"><%= products.length %> </h2>
        </div>
        <div class="banner-item  blue-accent">
            <h2 class="title">Hosting</h2>
            <h2 class="sub-title"><%= hosting.length %> </h2>
        </div> 
        <div class="banner-item  green-accent">
            <h2 class="title">Invoices</h2>
            <h2 class="sub-title"><%= invoices.length %> </h2>
        </div>
        <div class="banner-item  orange-accent">
            <h2 class="title">Tickets</h2>
            <h2 class="sub-title"><%= tickets.length %></h2>
        </div>
    </div>
</div>
<div class="cards-middle flexed ">
    <div id="left"> 
        <div class="prod-summary">
            <div class="card">
                <h6 class="title smaller">My Products</h6>
                <div class="card-items">
                    <div class="product-items">
                        <% products.forEach(product => { %>
                            <div class="item flexed">
                                <div class="state state-active">
                                    <span> </span>
                                </div>
                                <div class="description">
                                    <div class="name"><%= product.name %> </div>
                                    <div class="category">
                                        <%= product.description %> 
                                    </div>
                                    <div class="details flexed">
                                        <span>Annual Subsripiton</span>
                                        <span class="cost-pa">Ksh. <%= product.price.toLocaleString() %> </span>
                                    </div>
                                </div>
                            </div>
                        <% }) %>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="inv-summary">
            <div class="card">
                <h6 class="title smaller">My Orders</h6>
                <div class="card-items">
                    <div class="inv-items">
                        <table class="app-table inv-summary-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(order => { %>
                                    <tr>
                                        <td><%= order.id %> </td>
                                        <td>products - <% order.products.forEach(prod => { %>
                                         <%= prod.name %> | 
                                        <% }) %>  </td>
                                        <td>Ksh. <%= order.amount.toLocaleString() %> </td>
                                        <td class="status <%= order.status == 0 ? 'text-oaccent' : 'text-gaccent' %> ">
                                            <span class="state <%= order.status == 1 ? 'state-active' : 'state-pending' %> "> </span>
                                            <% if (order.status == 1) { %>
                                             Completed
                                            <% } else { %>
                                             Pending
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }) %>    
                            </tbody>
                        </table>
                        <a href="statements" class="more-link">Show All</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="ticket-summary">
            <div class="card">
                <h6 class="title smaller">Support Tickets</h6>
                <div class="ticket-items">
                    <% if (tickets.lenght > 0) { %>
                        <% tickets.forEach(ticket => { %>
                            <div class="item flexed">
                                <div class="state state-active">
                                    <span> </span>
                                </div>
                                <div class="description">
                                    <div class="name">#2345 Unable to load student records</div>
                                    <div class="category">
                                        iAcademy - school software
                                    </div>
                                    <div class="details flexed flexed-align-center flexed-between">
                                        <div class="date flexed">
                                            <span>Date:</span>
                                            <span>10/05/2020</span>
                                        </div>
                                        <div class="priority text-raccent flexed  flexed-align-center">
                                            <span>Priority:</span>
                                            <span>High</span>
                                        </div>
                                        <div class="ticket-status flexed">
                                            <span>Status:</span>
                                            <span class="text-gaccent">
                                                OPEN
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>  
                        <% } else { %>
                            <div class="no-items">
                                <div class="container">
                                    <img src="/assets/notfound2.png" alt="" class="not-found">
                                    <h4 class="large-text">Oops, No Support Tickets opened at the moment</h4>
                                    <a href="tickets" class="more-link">Add Ticket</a>
                                </div>
                            </div>
                    <% } %>  
                </div>
                <a href="statements" class="more-link">Show All</a>
            </div>
        </div>
    </div>
</div>