<% include _header.ejs %> 

<section id="business-top">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">
                        Business Software Solutions
                    </h2>
                </div>
                <div class="text-content">
                    Are you stacking on how to solve your business problem by use of technology? Do you find that you solving unending issues manually instead of focusing in building your business? Fret not! <br>
                    We take your idea and business concept in helping you solve your management problems for your business. We create tailor made solutions accessible from all smart devices.
                </div>
                <a href="#softwaretabs" class="cta btn nb">Get Started</a>
            </div>
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
        </div>
    </div>
</section>


<section id="softwaretabs">
    <div class="container">
        <div class="tab-container">
            <div class="tab-container-header">
                <div class="links flexed flexed-between">
                    <a href="#pos" class="tab-active link-text tab-control">POS systems</a>
                    <a href="#workflow" class="link-text tab-control">Workflow</a>
                    <a href="#sales" class="link-text tab-control">Sales</a>
                </div>
            </div>
            <div class="tab-container-body">
                <div class="tab-content active" id="pos">
                    <div class="container">
                        <div class="tab-hero flexed flexed-between">
                            <div class="hero-img">
                                <img src="/assets/hero_img.png" alt="product image">
                            </div>
                            <div class="hero-content">
                                <h3 class="heading">
                                    Point Of Sales systems
                                </h3>
                                <div class="text-content">
                                    With its features in: Online based you can access your shop from anywhere, Monitor your business,Track your sales from a smart device,Manage inventory, Monitor your daily profits and Get reports and analysis.
                                </div>
                            </div>
                        </div>

                    

                        <div class="product-features">
                            <h2 class="sub-heading">
                                Products Features and pricing
                            </h2>
                            <div class="product-features-container">
                                <div class="flexed flexed-between">
                                    <div class="product-item">
                                        <div class="p-img">
                                            <img src="assets/hero_img.png" alt="product image">
                                        </div>
                                        <div class="p-features">
                                            <div class="heading"><%= products[0].name %> </div>
                                            <div>
                                                Do you own a retail business where you have to handle stocks, sales, customers and reports. This application is for you.
                                            </div>
                                            <ul>
                                                <li class="heading sm">Product Features</li>
                                                <li>Accounting module</li>
                                                <li>Cash recording</li>
                                                <li>Report Generation</li>
                                                <li>Real-time updates</li>
                                            </ul>
                                        </div>
                                        <div class="p-price">
                                            Ksh. <%= products[0].price.toLocaleString() %> 
                                        </div>
                                        <div class="p-atc">
                                            <input type="hidden" name="p-id" value="<%= products[0].id %>">
                                            <div class="btn cta bordered add_to_cart">Add to Cart</div>
                                        </div>
                                    </div>
                                    <div class="product-item">
                                        <div class="p-img">
                                            <img src="assets/hero_img.png" alt="product image">
                                        </div>
                                        <div class="p-features">
                                            <div class="heading"><%= products[1].name %> </div>
                                            <div>
                                                Do you own a retail business where you have to handle stocks, sales, customers and reports. This application is for you.
                                            </div>
                                            <ul>
                                                <li class="heading sm">Product Features</li>
                                                <li>Accounting module</li>
                                                <li>Cash recording</li>
                                                <li>Report Generation</li>
                                                <li>Real-time updates</li>
                                            </ul>
                                        </div>
                                        <div class="p-price">
                                            Ksh. <%= products[1].price.toLocaleString() %> 
                                        </div>
                                        <div class="p-atc">
                                            <input type="hidden" name="p-id" value="<%= products[1].id %>">
                                            <div class="btn cta bordered add_to_cart">Add to Cart</div>
                                        </div>
                                    </div>
                                    <div class="product-item">
                                        <div class="p-img">
                                            <img src="assets/hero_img.png" alt="product image">
                                        </div>
                                        <div class="p-features">
                                            <div class="heading"><%= products[2].name %> </div>
                                            <div>
                                                Do you own a retail business where you have to handle stocks, sales, customers and reports. This application is for you.
                                            </div>
                                            <ul>
                                                <li class="heading sm">Product Features</li>
                                                <li>Accounting module</li>
                                                <li>Cash recording</li>
                                                <li>Report Generation</li>
                                                <li>Real-time updates</li>
                                            </ul>
                                        </div>
                                        <div class="p-price">
                                            Ksh. <%= products[2].price.toLocaleString() %> 
                                        </div>
                                        <div class="p-atc">
                                            <input type="hidden" name="p-id" value="<%= products[2].id %>">
                                            <div class="btn cta bordered add_to_cart">Add to Cart</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="tab-content" id="workflow">
                    <div class="tab-content active" id="pos">
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="hero-img">
                                    <img src="/assets/hero_img.png" alt="product image">
                                </div>
                                <div class="hero-content">
                                    <h3 class="heading">
                                        Workflow systems
                                    </h3>
                                    <div class="text-content">
                                        Do you own a middle level company where you handling corporate clients. This application is for you. With its features in.
                                    </div>
                                </div>


                            </div>


                            <div class="product-features">
                                <h2 class="sub-heading">
                                    Products Features and pricing
                                </h2>
                                <div class="product-features-container">
                                    <div class="flexed flexed-between">
                                        <div class="product-item">
                                            <div class="p-img">
                                                <img src="assets/hero_img.png" alt="product image">
                                            </div>
                                            <div class="p-features">
                                                <div class="heading">Workflow Management system</div>
                                                <div>
                                                    Do you own a middle level company where you handling corporate clients. This application is for you. With its features in.
                                                </div>
                                                <ul>
                                                    <li class="heading sm">Product Features</li>
                                                    <li>Accounting module</li>
                                                    <li>Cash recording</li>
                                                    <li>Report Generation</li>
                                                    <li>Real-time updates</li>
                                                </ul>
                                            </div>
                                            <div class="p-price">
                                                Ksh. 15000
                                            </div>
                                            <div class="p-atc">
                                                <div class="btn cta bordered">Add to Cart</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="tab-content" id="sales">
                    <div class="tab-content active" id="pos">
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="hero-img">
                                    <img src="/assets/hero_img.png" alt="product image">
                                </div>
                                <div class="hero-content">
                                    <h3 class="heading">
                                        Sales recording system
                                    </h3>
                                    <div class="text-content">
                                        With its features in: Online based you can access your shop from anywhere, Monitor your business,Track your sales from a smart device,Manage inventory, Monitor your daily profits and Get reports and analysis.
                                    </div>
                                </div>
                            </div>


                            <div class="product-features">
                                <h2 class="sub-heading">
                                    Products Features and pricing
                                </h2>
                                <div class="product-features-container">
                                    <div class="flexed flexed-between">
                                        <div class="product-item">
                                            <div class="p-img">
                                                <img src="assets/hero_img.png" alt="product image">
                                            </div>
                                            <div class="p-features">
                                                <div class="heading">iCash sales solution</div>
                                                <div>
                                                    Do you own a retail business where you have to handle stocks, sales, customers and reports. This application is for you.
                                                </div>
                                                <ul>
                                                    <li class="heading sm">Product Features</li>
                                                    <li>Accounting module</li>
                                                    <li>Cash recording</li>
                                                    <li>Report Generation</li>
                                                    <li>Real-time updates</li>
                                                </ul>
                                            </div>
                                            <div class="p-price">
                                                Ksh. 15000
                                            </div>
                                            <div class="p-atc">
                                                <div class="btn cta bordered">Add to Cart</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<% include _footer.ejs %> 